.table-container {
  margin-bottom: 1.5rem;
}

.table-container button[type="submit"] {
  width: 160px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  height: 2.7rem;
  font-size: medium;
  color: #f7f7f7;
  background-color: #098db3;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-container button:hover {
  opacity: 0.9;
}

.left h1 {
  margin: 0;
}

textarea {
  height: 300px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-content .navbar nav {
  width: 29%;
  background-color: #098db3;
  display: flex;
  justify-content: space-around;
  height: 2.6rem;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
}

.main-content .navbar a {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: background-color 0 main-content 0.3s;
}
.main-content .navbar nav .imunisasi:hover {
  cursor: pointer;
  opacity: 0.9;
}
.main-content .navbar nav .posyandu:hover {
  cursor: pointer;
  opacity: 0.9;
}

.active {
  background-color: #9ad0df;
}

.edukasi-content .edukasi-aksi {
  margin-bottom: 0.6rem;
  display: flex;
}

.edukasi-content .edukasi-aksi a {
  text-decoration: none;
  color: white;
  padding: 0.6rem 1rem;
  margin-right: 0.3rem;
}

.edukasi-content .edukasi-aksi .edit {
  border-radius: 5px;
  background-color: #ffcc00;
}
.edukasi-content .edukasi-aksi .hapus {
  border-radius: 5px;
  background-color: #ff4d4d;
}

.edukasi-content .edukasi-aksi .view {
  border-radius: 5px;
  background-color: #17a2b8;
}
.edukasi-content .edukasi-aksi .back {
  border-radius: 5px;
  background-color: #098db3;
}