* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200dvh;
  overflow-x: hidden;
  margin-bottom: 50vh;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000;
  background-color: #098db3;
  backdrop-filter: blur(10px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.left-nav {
  display: flex;
}

.left-nav a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
  margin-left: 1.5rem;
}

.nav-links li {
  margin: 0 0.1rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 17px;
  padding: 0 8px;
  border-radius: 5px;
  color: white;
  border-radius: 10rem;
}

.login-btn a {
  text-decoration: none;
  color: #098db3;
  background-color: white;
  font-size: 16px;
  padding: 10px 25px;
  padding-left: 20px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid transparent;
}

.login-btn a:hover {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.login-btn i {
  margin-right: 5px;
}

.left-nav a {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  font-size: 1.8rem;
}

.mo {
  margin-left: 0.7rem;
  color: white;
}

.lita {
  color: #ffdd1b;
}

main {
  background-color: rgb(244, 248, 251);
  height: 81dvh;
  display: flex;
  margin-top: 70.25px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding-bottom: 50px;
}

main img.top {
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 400px;
  transform: rotate(180deg);
}

main img.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  transform: rotate(180deg);
}

.main-left {
  width: 45%;
}

.main-left .left {
  margin-left: 5rem;
}

.main-left h1 {
  font-size: 2.9rem;
  color: #098db3;
}

.main-left p {
  margin-top: 1rem;
  font-size: 1rem;
  color: black;
  width: 75%;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.main-right {
  width: 30%;
  padding: 2rem;
  text-align: center;
}
.main-right img {
  margin-right: 3rem;
}
main a {
  height: 3.5rem;
  width: 65%;
  background-color: #098db3;
  color: white;
  border-radius: 0.6rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

main a i {
  color: white;
  margin: 0 1rem;
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

main a:hover {
  border: 2px solid #098db3;
  background-color: transparent;
  color: #098db3;
}

main a:hover i {
  color: #098db3;
}

.shake {
  width: 270px;
  animation: shake 7s infinite;
}

.layanan {
  height: 60dvh;
  padding: 1.5rem;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.layanan .container {
  display: flex;
  align-items: center;
}

.container h3 {
  color: #333;
}

.container p {
  color: #555;
}

.container .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.container .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  margin-bottom: 5rem;
}

.left .top i {
  font-size: 4rem;
  color: #28a745;
  margin-right: 1rem;
}

.right .top i {
  font-size: 4rem;
  color: #6c757d;
  margin-right: 1rem;
}

.top p {
  margin-top: 1rem;
  color: gray;
}

.bottom {
  display: flex;
}

.left .bottom i {
  font-size: 4rem;
  color: #007bff;
  margin-right: 2rem;
}

.right .bottom i {
  font-size: 4rem;
  color: #ffc107;
  margin-right: 2rem;
}

.bottom p {
  margin-top: 1rem;
  color: gray;
}
.informasi-kesehatan {
  padding: 1.5rem;
  background-color: rgb(244, 248, 251);
}
.informasi-kesehatan h1 {
  font-size: 1.3rem;
  color: #098db3;
}

.container-indi {
  position: relative;
}

.container-card {
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 2.3rem;
  box-sizing: border-box;
}

.container-card .card {
  flex: 0 0 32.1%;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container-card .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.prev-btn {
  left: -50px;
}

.next-btn {
  right: -50px;
}

/* Indikator */
.indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  right: 49%;
}

.indicator {
  width: 10px;
  height: 10px;
  background: #cccccc;
  border-radius: 50%;
  transition: background 0.3s ease;
  cursor: pointer;
}

.indicator.active {
  background: #007bff;
}

/* Tombol navigasi */
.btn {
  position: absolute;
  top: 43%;
  font-size: 2rem;
  transform: translateY(-50%);
  color: #094b5d;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.edukasi {
  padding-bottom: 1.5rem;
}

.edukasi .container h1 {
  font-size: 1.3rem;
  color: #098db3;
  padding-top: 1.5rem;
}

.filter-artikel {
  margin: 1.5rem 0;
}

.filter-artikel a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid #098db3;
  color: #098db3;
  border-radius: 10px;
}

.filter-artikel a.active {
  background-color: #c3e4ed;
}

.main-edukasi {
  text-align: center;
  text-decoration: none;
}

.main-edukasi img {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.main-edukasi h3 {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.main-edukasi p {
  text-align: center;
  color: #555;
  margin-bottom: 1rem;
}

.sub-edukasi {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 2rem;
}

.edukasi {
  text-decoration: none;
}

.sub-edukasi .edukasi {
  max-height: 200px;
}

.sub-edukasi .edukasi img {
  max-width: 300px;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.sub-edukasi .edukasi {
  display: flex;
}

.main-edukasi a {
  text-decoration: none;
}

.sub-edukasi .edukasi .teks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.main-edukasi .link-a a {
  font-weight: bold;
  color: #098db3;
}

.edukasi .teks p {
  font-size: 0.8rem;
}

.data-posyandu {
  height: 35dvh;
  background-color: rgb(244, 248, 251);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-posyandu .card-posyandu {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.card-posyandu .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-posyandu .card-posyandu .img {
  height: 95px;
  width: 95px;
  background-color: #098db3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: rgb(244, 248, 251);
  margin-bottom: 0.5rem;
}

.data-posyandu .card-posyandu h1 {
  font-weight: normal;
  color: #555;
}

.img-2 {
  padding-top: 10px;
}

.footer {
  padding: 2rem 0;
  min-height: 35dvh;
  background-color: #098db3;
  padding-bottom: 3rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
}

.footer h1 img {
  width: 40px;
  margin-right: 1rem;
}

.footer h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: white;
  margin-bottom: 1.5rem;
}

.footer h3 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links a {
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(244, 248, 251);
}

.footer p {
  color: rgb(244, 248, 251);
}

.footer-bottom {
  padding: 1.5rem;
  background-color: #0c667f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @keyframes shake {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-10px);
  }

  20% {
    transform: translateY(10px);
  }

  30% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(5px);
  }

  70% {
    transform: translateY(-3px);
  }

  80% {
    transform: translateY(3px);
  }

  90% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
} */
